.ui-textarea__input::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.ui-textarea__input::-webkit-scrollbar-track {
  background: var(--ui-textarea-scroll-track);
  border-radius: 1px;
}

.ui-textarea__input::-webkit-scrollbar-thumb {
  background: var(--ui-textarea-scroll-thumb);
  border-radius: 1px;
}